.title p {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
}

.search {
    display: flex;
    gap: 13px;
}

.search p {
    color: #C4C4C4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search {
    border-radius: 10px;
    border: 1px solid #F3F3F3;
    padding: 15px 20px;
    width: 250px;
}