@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: .3s;
}

.container {
  padding: 0 70px;
}

.container_prod {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 40px;
}